<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>RoboCam Proxy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    {% include 'components/header.html' %}
    <div class="container">
        <h1>RoboCam Proxy</h1>
        <p>Live-Stream von der ESP32-CAM:</p>
        <img id="camera-stream" src="" alt="Kamera-Stream wird geladen...">
    </div>
    {% include 'components/footer.html' %}
</body>
</html>